<div id="roles_details" class="stig">
	<div class="roles-section" style="background:url({{roledata.pic}}) top center no-repeat;background-size:100%;background-color: black">
		<h2 style="margin-top: 0">圣痕介绍</h2>
		<h3>{{roledata.nickname}}</h3>
		<div class="section">
			{{roledata.details}}
		</div>
	</div>
	<div class="quick_go">
		<a href="javascript:;" class="left"><img src={{passcard}} ng-click="leftgo()"alt=""></a>
		<a href="javascript:;" class="right"><img src={{futurecard}} ng-click="rightgo()" alt=""></a>
	</div>	
</div>	
